<!--fichier temporaire-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Document</title>
</head>
<body> 
    <h2>BONJOUR</h2> 
    <form action="/twitter/retweet" method="POST">
        <input type="text" name="tweet_content">
        <input type="submit">
        <a>retweet</a>
    </form>
    <form action="/twitter/like" method="POST">
        <input type="text" name="tweet_content">
        <input type="submit">
        <a>like</a>
    </form>
    <form action="/twitter/postTweet" method="POST">
        <input type="text" name="tweet_content">
        <input type="submit">
        <a>postTweet</a>
    </form>
</body> 
</html>