.App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .Box-AREA {
    height: 75%;
    width: 200;
    border-radius: 20;
    margin-right: 16;
    flex-direction: "row";
    border-radius: 10;
  }

  .Top-Box-Area {
    justify-content: center;
    flex-direction: row;
    margin-top: 8;
    flex : 1;
  }

  .Logo-Area {
    width : 40;
    height: 40;
  }

  .Area-Center {
    justify-content: center;
    align-items: center;
  }

  .Action-Name {
    text-transform: capitalize;
    font-size: 25;
    color : white;
    text-align: center;
  }

  .Action-Desc {
    text-transform: capitalize;
    font-size: 16;
    color : white;
    text-align: center;
  }